.button-main-outlined {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  color: #ffffff;
  background: transparent;

  width: 131px;
  height: 46px;

  /* Neutral/0 (white)(bgLightPri)(txtDarkPri) */

  border: 1px solid #ffffff;

  &:hover {
    transition: 200ms;
    background: #333;
  }
}

.button-main-filled {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 37px;
  gap: 6px;
  border: 0;

  height: 54px;
  color: #000;
  background: #fff;

  height: 46px;
}
