.navbar-container {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 50px 0px;
  gap: 144px;
  height: 80px;
  color: white;
  position: absolute;
}

.navbar-layout {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  gap: 144px;

  height: 46px;
}

.brand {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  height: 40px;
}

.navbar-menu {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0px;
  height: 46px;
}

.nav-link {
  color: white;
  padding: 16px 16px;
}

.nav-link:hover {
  background: white;
  color: black;
  padding: 8px 16px;
}
