// Landing Section
.full-page {
  height: 100vh;
}

.video-background {
  z-index: -5;
  min-width: 100%;
  position: absolute;
  overflow: hidden;
}

.landing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: -100px;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.landing-heading {
  font-weight: 500;
  font-size: 90px;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.12);

  span {
    color: #bfbfbf;
  }
}

.landing-subtext {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  /* identical to box height, or 32px */
  color: #ffffff;
  letter-spacing: 0.004em;
}

// About Section
.about-home-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;

  left: 0;
  align-items: flex-start;
  padding: 130px 140px;
  gap: 10px;
  background: #000000;
}

.about-home-content {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 32px;
}

.top-mini-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.para-heading {
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  letter-spacing: -0.014em;

  span {
    color: #bfbfbf;
  }
}

// Practice Areas
.practice-areas-container {
  position: relative;
  display: flex;
  padding: 130px 140px;
  flex-direction: column;
  align-items: flex-start;
  background: #f5f5f5;
  gap: 10px;
}

.practice-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.top-mini-heading2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.practice-heading {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  color: #000000;
  letter-spacing: -0.024em;
}

.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// Client Story 1
.client-story-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 130px 140px;
  color: white;
  gap: 40px;
  background: #000000;
}

.client-story-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 12px 0px 0px;
  gap: 32px;
}

.client-story-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.client-heading {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.024em;
}

.client-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.004em;
  color: #bfbfbf;
}

.client-story-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  background: #2e2e2e;
}

.client-footer-heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.014em;
}

.client-label-holder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.client-label-pill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 16px;
  border: 1px solid #404040;
}

.client-story-demo {
  background: #2e2e2e;
}

.demo-mockup {
  margin-top: 77px;
  width: 100%;

  filter: drop-shadow(0px 62.004px 59.6357px rgba(4, 12, 32, 0.12))
    drop-shadow(0px 29.8178px 26.3774px rgba(4, 12, 32, 0.08))
    drop-shadow(0px 18.6924px 15.8885px rgba(4, 12, 32, 0.104254))
    drop-shadow(0px 11.9791px 10.1822px rgba(4, 12, 32, 0.0913432))
    drop-shadow(0px 7.76387px 6.59929px rgba(4, 12, 32, 0.08))
    drop-shadow(0px 4.88727px 4.15418px rgba(4, 12, 32, 0.0686568));
}

.company-icon {
  width: 20%;
  position: relative;
  left: 73.21%;
  right: 5.36%;
  top: -84.94%;
}
