* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #333;
  font-family: "Heebo", sans-serif;
  background: #333;
}

ol,
ul {
  list-style: none;
  text-decoration: none !important;
}

ul li {
  color: white;
}

.navbar-container {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 50px 0px;
  gap: 144px;
  height: 80px;
  color: white;
  position: absolute;
}

.navbar-layout {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  gap: 144px;
  height: 46px;
}

.brand {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  height: 40px;
}

.navbar-menu {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0px;
  height: 46px;
}

.nav-link {
  color: white;
  padding: 16px 16px;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  background: white;
  color: black;
  padding: 8px 16px;
  cursor: pointer;
}

.full-page {
  height: 100vh;
}

.video-background {
  z-index: -5;
  min-width: 100%;
  position: absolute;
  overflow: hidden;
}

.landing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: -100px;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.landing-heading {
  font-weight: 500;
  font-size: 90px;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.12);
}
.landing-heading span {
  color: #bfbfbf;
}

.landing-subtext {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  /* identical to box height, or 32px */
  color: #ffffff;
  letter-spacing: 0.004em;
}

.about-home-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  left: 0;
  align-items: flex-start;
  padding: 130px 140px;
  gap: 10px;
  background: #000000;
}

.about-home-content {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 32px;
}

.top-mini-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.para-heading {
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  letter-spacing: -0.014em;
}
.para-heading span {
  color: #bfbfbf;
}

.practice-areas-container {
  position: relative;
  display: flex;
  padding: 130px 140px;
  flex-direction: column;
  align-items: flex-start;
  background: #f5f5f5;
  gap: 10px;
}

.practice-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.top-mini-heading2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.practice-heading {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  color: #000000;
  letter-spacing: -0.024em;
}

.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.client-story-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 130px 140px;
  color: white;
  gap: 40px;
  background: #000000;
}

.client-story-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 12px 0px 0px;
  gap: 32px;
}

.client-story-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.client-heading {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.024em;
}

.client-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.004em;
  color: #bfbfbf;
}

.client-story-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  background: #2e2e2e;
}

.client-footer-heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.014em;
}

.client-label-holder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.client-label-pill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 16px;
  border: 1px solid #404040;
}

.client-story-demo {
  background: #2e2e2e;
}

.demo-mockup {
  margin-top: 77px;
  width: 100%;
}

.company-icon {
  width: 20%;
  position: relative;
  left: 73.21%;
  right: 5.36%;
  top: -84.94%;
}

.client-story-container-light {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 130px 140px;
  color: white;
  gap: 40px;
  background: #fff;
}

.client-story-demo-light {
  background: #f5f5f5;
}

.client-story-footer-light {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  background: #f5f5f5;
}

.client-text-light {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.004em;
  color: #2e2e2e;
}

.client-footer-heading-light {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.014em;
  color: #000000;
}

.client-label-pill-light {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 16px;
  color: #000;
  border: 1px solid #dedede;
}

.sustainability-container {
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 140px;
  gap: 40px;
  isolation: isolate;
  background: linear-gradient(180deg, #2e49b0 0%, #4268fb 100%);
}

.sustainability-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.sustainability-image {
  position: relative;
  width: 44%;
  right: 0px;
  top: 60px;
}

.sustainability-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.004em;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: flex-start;
  padding: 60px 120px 120px;
  gap: 80px;
  background: #000000;
}

.footer-horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
}

.logo-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px 0px 0px;
  gap: 24px;
  max-width: 520px;
}

.footer-logo {
  width: 248px;
  height: 40px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.003em;
  color: #bfbfbf;
}

.footer-vertical-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.vertical-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.004em;
  color: #ffffff;
}

.vertical-paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.003em;
  color: #bfbfbf;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.button-main-outlined {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  color: #ffffff;
  background: transparent;
  width: fit-content;
  height: 46px;
  /* Neutral/0 (white)(bgLightPri)(txtDarkPri) */
  border: 1px solid #ffffff;
}
.button-main-outlined:hover {
  transition: 200ms;
  background: #333;
}

.button-main-filled {
  box-sizing: border-box;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 37px;
  gap: 6px;
  border: 0;
  width: fit-content;
  height: 54px;
  color: #000;
  background: #fff;
  height: 46px;
}

.MuiTabs-root {
  width: 95%;
}

.tab-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 0px;
  gap: 32px;
}

.work-explore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
}

.work-areas {
  background: #4268fb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
  text-align: center;
  letter-spacing: 0.004em;
}

.explore-now {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #000;
  text-align: center;
  letter-spacing: 0.004em;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 24px;
  background: transparent;
}
.card:hover {
  background: #ffffff;
  box-shadow: 0px 12px 33px -6px rgba(0, 0, 0, 0.18);
}

.card-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #2e2e2e;
}

.card-heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.014em;
  color: black;
}

.card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.004em;
  color: #2e2e2e;
}/*# sourceMappingURL=styles.css.map */